<ul class="social-icons">

         {% if language.getId() == 'en' %}
         <a href="#skip"><span style="color:white;">Skip To Main Content</span></a></i> 
          {% endif %}
          
          {% if language.getId() == 'hi' %}
          <a href="#skip"><span style="color:white;">मुख्य विषयवस्तु में जाएं</span></a></i> 
          {% endif %}


<li>
<span style="font-size:16px; color:#fff;"><span></li>

<!---<i class="fa fa-eye-slash " style="font-size:16px;color: #000; background-color: #fff; padding:5px; border-radius: 50px;
    height: 26px;
    width: 28px;
  
    "></i>-->
<a href="../sitemap"><i class="fa fa-sitemap" style="font-size:16px;color: #000;background-color:#fff; border-radius: 50px;height: 24px;
    width: 26px;
    padding: 4px"></i></a>

  
    
<style>

.block-region.region-header-top {
    display: contents;
}

form#search-block-form {
    display: flex;
}

.box {
    position: relative;
    background-color: #ffffff;
    box-shadow: var(--shadow);
    padding: 4px;
    border-radius: 10px;
    height:28px;
    padding-top: 0px;
}

.form-item {
    margin-bottom: 0rem;
}

 input#edit-submit--2 {
    background-color: white;
    color: black;
    padding: 0px;
    border-radius: 5px;
    margin: 0px;
}

input#edit-submit--3 {
    background-color: white;
    color: black;
    padding: 0px;
    border-radius: 5px;
    margin: 0px;
}


.header-top-container {
    position: relative;
    display: flex!important;
    padding: 6px 0;
    justify-content: space-around!imprtant;
    align-content: space-around!important;
    align-items: flex-end!important;
}



select#edit-lang-dropdown-select {
    width: 100px!important;
    border-radius: 15px;
    padding: 2px;
    margin: 0px;
}

.header-top-container {
    position: relative;
    display: flex;
    padding: 6px 0;
    justify-content: end;
    align-items: center;
}

.dropbtn {
    color: #0b0b0b;
    padding: 4px;
    font-size: 14px;
    border: none;
    border-radius: 50px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: yellow;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: black;}

.dropdown:hover .dropbtn {
    background-color: white;
}
.header-top {
    background-color: #0895e0;
    
}




.dropdown-content a:hover {
    background-color: #292923;
    color:black;
}

</style>
</head>

{{ page.header_top}}
</div>



 

 </li>
</ul>
